.container {
  margin: 0 auto;
}

img.site-logo {
  width: 65px;
}

img.services {
  width: 100%;
}

.grid {
  background: none;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  transform: translate(5%,5%);
}

.blurred-section > img {
  filter:blur(10px);
}

.scroll-to-top {
  position: fixed;
  bottom: 75px;
  right: 40px;
  display: none;
}

.contact-item {
  margin: 10px;
}

.social {
  margin-top: 10px;
  padding: 10px;
  border-radius: 2px;
}

.middle{
  vertical-align: middle;
}
