.grid {
  max-width: 1200px;
  margin: 0 auto;
}
/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
/* ---- grid-item ---- */
.grid-sizer {
  width: 150px;
}

.grid-item {
  float: left;
  border-radius: 5px;
  img{
    max-width:100%;
  }
}



.grid-item--width2 { width:  160px; }
.grid-item--width3 { width:  240px; }

.grid-item--height2 { height: 100px; }
.grid-item--height3 { height: 140px; }
.grid-item--height4 { height: 180px; }
